{% extends 'mentor/main.html' %}
{% load static %}
{% block content %}

<div class="row">
  {% for mentor in mentors %}
  <div class="col-lg-3">
  <img class="thumbnail" src="{% static 'media/user.png' %}">
  <div class="box-element mentor">
    <h6><strong>{{mentor.name}}</strong></h6>
    <hr>

    <button  class="btn btn-outline-secondary add-btn">{{mentor.upbringing}}</button>
    <a class="btn btn-outline-success" href="#">{{mentor.expertise}}</a>
    <hr>

    <button  class="btn btn-outline-secondary add-btn">Available: {{mentor.available}}</button>
    <!-- <a class="btn btn-outline-success" href="#"></a>
    <hr>

    <button  class="btn btn-outline-secondary add-btn">{{mentor.available}}</button>
    <a class="btn btn-outline-success" href="#">Available: {{mentor.availablity}}</a>
    <button><h4><strong>Available</strong></h4></button>

    <h4 style="display: inline-flex; float: right"><strong>Available</strong></h4> -->

  </div>
</div>
  {% endfor %}
</div>


{% endblock content %}

